@{
    ViewBag.Title = "About";
}


<img src="~/Media/boy2.jpg" alt="Boy reading" style=" width:1200px;"/>
 
<h2>About Five-In-A-Row Companion</h2>


<p>The FIAR Companion was created by a veteran homeschooler of 7 children. It functions as a take-along tool to help you find books in the series, read reviews, and choose books based on topics. I hope you find it useful and enjoy making worlds come alive with your children.</p> 