
@{
    ViewBag.Title = "ApplicationAdministration";
}

<h2>Application Administration</h2>

<ul>
    <li>@Html.ActionLink("Manage Books", "Index", "Books")</li>
    <li>@Html.ActionLink("Manage Reviews", "Index", "Reviews")</li>
</ul>

